*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-thumb {
	background: #8c959d;
}

::-webkit-scrollbar-thumb:hover {
	background: #adb5bd;
}

::-webkit-scrollbar-track {
	background: transparent;
}
